body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.mdl-layout__header {
    background-color: rgb(51,102,204) !important;
}

.logo {
    width: 205px;
}

#sensorWarning {
	width: 100%;
	background: rgb(129, 192, 255) !important;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

#sensorStatusIcon {
	width: 180px;
	max-width: 100%;
}

#sensorStatusDescription {
	display: block;
	font-size: 20px;
}